body{
    margin: 0px;
    padding:0px;
    box-sizing: border-box;
    background-color: black;
    
}
.big {
    border: 0px;
    margin: 0 auto;
    padding:0px;
    box-sizing: border-box;
    width: 95%;
    background-color:white;
    height: 1500px;
  
}

.back{
    width: 460px;
    background-color: gray;
    margin: 0 auto;
    
    padding: 15px;
}
.box{
    width: 85px;
    height: 59px;
    float: left;
    margin: 15px;
}

.size2{
    height: 99px;
    width: 83px;
    float: left;
    margin: 15px;
  
}
.blue{
    background-color: blue;
}
.red{
    background-color: red;

}
.color{
    background-color: yellow;
}
br{
    margin: 0px;
    clear: both;
}